<ion-header>
    <ion-toolbar>
      <ion-title>Todo list</ion-title>
      <ion-button slot="end" (click) = "signOut()">sign out</ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-toolbar color="secondary">
    <ion-input [(ngModel)]="inputItem" placeholder="add an item" name = "inputItem"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="add(inputItem)" [disabled]="!inputItem">Add</ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor = "let todo of items  | async" [class.done]= "todo.status">
      <ion-buttons slot="start">
        <ion-checkbox [checked]= "todo.status" (ionChange)="update(todo)"></ion-checkbox>
      </ion-buttons>
      
      <ion-label>{{todo.name}}</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="delete(todo)" *ngIf="todo.status">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      
    </ion-item>
    
  </ion-list>
  
</ion-content>
